[project]
name = "pytorchtemplate"
version = "0.1.0"
description = ""
readme = "README.md"
authors = [{ name = "narumi", email = "toucans-cutouts0f@icloud.com" }]
requires-python = ">=3.11"
dependencies = [
    "loguru>=0.7.2",
    "mlconfig>=0.2.3",
    "numpy>=2.1.3",
    "torch>=2.5.1",
    "torchmetrics>=1.5.2",
    "torchvision>=0.20.1",
    "tqdm>=4.67.0",
    "wandb>=0.18.6",
]

[project.scripts]
pytorchtemplate = "pytorchtemplate.cli:main"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[dependency-groups]
dev = [
    "mypy>=1.13.0",
    "pytest>=8.3.3",
    "pytest-cov>=6.0.0",
    "ruff>=0.7.3",
    "types-pyyaml>=6.0.12.20240917",
    "types-redis>=4.6.0.20241004",
    "types-requests>=2.32.0.20241016",
    "types-six>=1.16.21.20241105",
    "types-tabulate>=0.9.0.20240106",
]

[tool.ruff]
exclude = ["build"]
line-length = 120

[tool.ruff.lint]
select = [
    "B",   # flake8-bugbear
    "C",   # flake8-comprehensions
    "E",   # pycodestyle errors
    "F",   # pyflakes
    "I",   # isort
    "N",   # pep8-naming
    "SIM", # flake8-simplify
    "UP",  # pyupgrade
    "W",   # pycodestyle warnings
]

[tool.ruff.lint.per-file-ignores]
"__init__.py" = ["F401", "F403"]

[tool.ruff.lint.isort]
force-single-line = true
# https://github.com/astral-sh/ruff/issues/10519
known-third-party = ["wandb"]

[tool.pytest.ini_options]
filterwarnings = ["ignore::DeprecationWarning"]

[tool.mypy]
ignore_missing_imports = true
