device: cuda

job:
  name: MNISTTrainingJob

trainer:
  name: MNISTTrainer
  num_epochs: 20

dataset:
  name: MNISTDataLoader
  root: data
  batch_size: 256
  num_workers: 0

model:
  name: LeNet

optimizer:
  name: Adam
  lr: 1.e-3

scheduler:
  name: StepLR
  step_size: 10

log_params:
  num_epochs: ${trainer.num_epochs}
  batch_size: ${dataset.batch_size}
  optimizer: ${optimizer.name}
  lr: ${optimizer.lr}
  scheduler: ${scheduler.name}
  step_size: ${scheduler.step_size}
